<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Questions</title>
<!-- Link to the jQuery Library -->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <!-- Including Font Awesome Icons -->
     <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

    <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>


<h6>Profile Questions</h6>
<br>

<h6>
    <strong>About Your Pet</strong>
</h6>
<h6>Name (Required)</h6>
<input type="text" name=" " id="name" class="form-control" required>

<h6>Age (Required)</h6>
<input type="text" name=" " id="age" class="form-control" required>

<h6>Link to Photo Image (Required)</h6>
<input type="text" name=" " id="photo" class="form-control" required>

<h6>Bio (Required)</h6>
<input type="text" name="" id="bio" class="form-control" required>

<h6>Breed (Required)</h6>
<input type="text" name="" id="breed" class="form-control" required>

<h6>Gender (Required)</6>
<input type="text" name="" id="gender" class="form control" reqired>

<h6>Type (Required)</h6> 
<input type="text" name="" id="type" class="form control" required>

<h6>Activity (Required)</h6>  
<input type="text" name="" id="type" class="form control" reqired>

<h6>Temperament(Required)</h6>  
<input type ="text" name="" id="type" class="form control" required>


<h6>

    <strong>Question 1</strong>
</h6>
<h6>I like to go on walks</h6>
<select class="browser-default" id="q1">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 2</strong>
</h6>
<h6>I like to be outdoors</h6>
<select  class="browser-default" id="q2">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 3</strong>
</h6>
<h6>I love meeting new people</h6>
<select  class="browser-default" id="q3">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 4</strong>
</h6>
<h6>I love playing with other dogs or cats</h6>
<select  class="browser-default" id="q4">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 5</strong>
</h6>
<h6>I play well with other pets (dogs or cats)</h6>
<select  class="browser-default" id="q5">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 6</strong>
</h6>
<h6>Do you bite people or other animals</h6>
<select  class="browser-default" id="q6">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 7</strong>
</h6>
<h6>Belly rubs are my favorite</h6>
<select  class="browser-default" id="q7">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 8</strong>
</h6>
<h6>I'm very affectionate</h6>
<select  class="browser-default" id="q8">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 9</strong>
</h6>
<h6>I can be scared easily</h6>
<select  class="browser-default" id="q9">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 10</strong>
</h6>
<h6>I am protective of my family</h6>
<select  class="browser-default" id="q10">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 11</strong>
</h6>
<h6>I love to run and play</h6>
<select class="browser-default" id="q11">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h6>
    <strong>Question 12</strong>
</h6>
<h6>My favorite place to sleep is on the couch</h6>
<select  class="browser-default" id="q12">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>
<br>
<br>

        <button class="btn waves-effect waves-light" type="submit" id= "submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

        <script type="text/javascript">
        
        
            $(document).ready(function() {
                //$('select').material_select();
                $('.modal').modal({
                 
            });
            // Activate submit button
            $('#submit').on('click', function(event) {
                event.preventDefault();
                console.log("submit")
                // Gather user inputs
                var userInput = {
                    //name: $('#name').val().trim(),
                    //image: $('#image').val().trim(),
                    scores:[
                       /* $('#question1').val().trim(),
                        $('#question2').val().trim(),
                        $('#question3').val().trim(),
                        $('#question4').val().trim(),
                        $('#question5').val().trim(),
                        $('#question6').val().trim(),
                        $('#question7').val().trim(),
                        $('#question8').val().trim(),
                        $('#question9').val().trim(),
                        $('#question10').val().trim(),
                        $('#question11').val().trim(),*/
                        $('#q12').val().trim()
                    ]
                };
                console.log(userInput);
                // Add user inputs to petfriends list
                $.post('/api/profile', userInput)
                 .done(function(data) {
                     console.log("data",data);
                     // Set the name and image values of petfriend match
                   // $('#petMatch').html(data.matchName);
                   // $("#petMatchImage").attr("src", data.petmatchImage);
                    // Pop open the modal dialog
                    // $('#modal').modal('open');
                 });
            });
            
    

            });
        </script>
    </body>
    </html>
    
    