<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Questions</title>
<!-- Link to the jQuery Library -->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <!-- Including Font Awesome Icons -->
     <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>
    <!-- Link to reset stylesheet -->
    <link rel="stylesheet" href="css/reset.css">
    <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>


<h2>Profile Questions</h2>
<br>

<h3>
    <strong>About Your Pet</strong>
</h3>
<h4>Name (Required)</h4>
<input type="text" name=" " id="name" class="form-control" required>

<h4>Age (Required)</h4>
<input type="text" name=" " id="age" class="form-control" required>

<h4>Link to Photo Image (Required)</h4>
<input type="text" name=" " id="photo" class="form-control" required>

<h5>Bio (Required)</h5>
<input type="text" name="" id="bio" class="form-control" required>

<h6>Breed (Required)</h6>
<input type="text" name="" id="breed" class="form-control" required>

<h7>Gender (Required)</h7>
<input type="text" name="" id="gender" class="form control" reqired>

<h8>Type (Required)</h8> 
<input type="text" name="" id="type" class="form control" required>

<h9>Activity (Required)</h9>  
<input type="text" name="" id="type" class="form control" reqired>

<h10>Temperament(Required)</h10>  
<input type ="text" name="" id="type" class="form control" required>


<h3>

    <strong>Question 1</strong>
</h3>
<h4>I like to go on walks</h4>
<select data-placeholder=" " class="chosen-select" id="q1">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 2</strong>
</h3>
<h4>I like to be outdoors</h4>
<select data-placeholder=" " class="chosen-select" id="q2">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 3</strong>
</h3>
<h4>I love meeting new people</h4>
<select data-placeholder=" " class="chosen-select" id="q3">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 4</strong>
</h3>
<h4>I love playing with other dogs or cats</h4>
<select data-placeholder=" " class="chosen-select" id="q4">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 5</strong>
</h3>
<h4>I play well with other pets (dogs or cats)</h4>
<select data-placeholder=" " class="chosen-select" id="q5">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 6</strong>
</h3>
<h4>Do you bite people or other animals</h4>
<select data-placeholder=" " class="chosen-select" id="q6">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 7</strong>
</h3>
<h4>Belly rubs are my favorite</h4>
<select data-placeholder=" " class="chosen-select" id="q7">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 8</strong>
</h3>
<h4>I'm very affectionate</h4>
<select data-placeholder=" " class="chosen-select" id="q8">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 9</strong>
</h3>
<h4>I can be scared easily</h4>
<select data-placeholder=" " class="chosen-select" id="q9">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 10</strong>
</h3>
<h4>I am protective of my family</h4>
<select data-placeholder=" " class="chosen-select" id="q10">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 11</strong>
</h3>
<h4>I love to run and play</h4>
<select data-placeholder=" " class="chosen-select" id="q11">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>

<h3>
    <strong>Question 12</strong>
</h3>
<h4>My favorite place to sleep is on the couch</h4>
<select data-placeholder=" " class="chosen-select" id="q12">
    <option value=" "></option>
    <option value="1">1 (Strongly Disagree)</option>
    <option value="2">2</option>
    <option value="3">3 (Neutral)</option>
    <option value="4">4</option>
    <option value="5">5 (Strongly Agree)</option>
</select>
<br>
<br>

<button type="submit" class="btn btn-primary btn-lg btn-block " id="submit">
    <i class="fa fa-check-circle" aria-hidden="true">
        Submit to our Pet database
        <script type="text/javascript">
            $(document).ready(function() {
                $('select').material_select();
                $('.modal').modal({
                    dismissible: false, // Modal can be dismissed by clicking outside of the modal
                    opacity: .5, // Opacity of modal background
                    inDuration: 300, // Transition in duration
                    outDuration: 200, // Transition out duration
                    startingTop: '4%', // Starting top style attribute
                    endingTop: '10%' // Ending top style attribute
                });
            });
            // Activate submit button
            $('#submitButton').on('click', function(event) {
                event.preventDefault();
                // Gather user inputs
                var userInput = {
                    name: $('#petName').val().trim(),
                    image: $('#petImage').val().trim(),
                    scores:[
                        $('#question1').val().trim(),
                        $('#question2').val().trim(),
                        $('#question3').val().trim(),
                        $('#question4').val().trim(),
                        $('#question5').val().trim(),
                        $('#question6').val().trim(),
                        $('#question7').val().trim(),
                        $('#question8').val().trim(),
                        $('#question9').val().trim(),
                        $('#question10').val().trim(),
                        $('#question11').val().trim(),
                        $('#question12').val().trim()
                    ]
                };
                // console.log('userInput = ' + JSON.stringify(userInput));
                // Add user inputs to petfriends list
                $.post('/api/petprofile, userData)
                 .done(function(data) {
                     // console.log('response = ' + JSON.stringify(data));
                     // Set the name and image values of petfriend match
                    $('#petMatch').html(data.matchName);
                    $("#petMatchImage").attr("src", data.petmatchImage);
                    // Pop open the modal dialog
                     $('#modal').modal('open');
                 });
            });
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>        
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>

        </script>
    </body>
    </html>
    
    